.list-group.panel > .list-group-item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}
.list-group-submenu {
  margin-left:20px;
}

/* Menu Hover */
.list-group.panel a{
	background-color: #fff;
	color:#000;
}
.list-group.panel a:hover {
    background-color: #e2e2e2;
}