/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    /*padding: 14px 16px;*/
    padding: 15px 16px;
    text-decoration: none;
    transition: 0.3s;
   /* font-size: 17px;*/
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 15px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #429fef;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

label {
    font-weight: normal !important;
}

.form-group {
    margin-bottom: 15px;
    overflow: hidden;
}

.footer {
    background-color:#ffffff;
	bottom:0;
  	position:fixed;
    padding:10px;
}

/* Menu Hover */
.list-group.panel a{
	/*background-color: #fff;
	color:#000;*/
	background-color: #2a6598;
    color: #fff;
    margin-bottom: 5px;
}
.list-group.panel a:hover {
    /*background-color: #e2e2e2;*/
    background-color: #429fef;
}
.list-group, #main-wrapper{
    margin-top: 20px;
}


#main-wrapper {
    margin-bottom: 90px;

}

.form-group label {
    padding: 10px 0 0 0;
}
.control-label {
    width: 20%;
}





li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

ul.topnav li a:hover, .nav .open>a {
    background-color: #429fef !important;
}

.dropdown-menu{
	position: fixed;
	top: 50px;
	background-color: #2a6598;
}
.padding-bottom-5 {
    padding-bottom: 15px;
}
.padding-top-15 {
    padding-top: 15px;
}
.margin-15 {
    margin-right: 15px;
}

.table-width-80 {
	width:90%
}

.button-color{
	background-color: #2a6598;
	color: #fff;
}

.btn-default:hover{
	 background-color: #429fef;
}

.selection-color{
	background-color: #429fef;
}

/*added for button arrow start*/

/*added for button arrow end*/

.next{
    text-decoration: none;
	float: right;
	font-size: 18px;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
   color: #2a6598;
}
.previous{
	text-decoration: none;
	float: left;
	font-size: 18px;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    color: #2a6598;
}
.next:hover, .previous:hover{
	text-decoration: none;
}

.inner-container {
    position: relative;
}

/** start**/

.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:8px; 
  color:#ccc;
}

.clickablename{
    cursor:pointer;
}
.clickabletxnname{
    cursor:pointer;
}

.clickabletestid{
	 cursor:pointer;
}

@media (min-width: 992px){
	.mymodal-lg {
    width: 1300px !important;
}
}

.tdtextcolor{
	color: #005A9C
}
/**End ***/

/**start**/



/**end**/





.selected {
    background-color: #a6c0d7;
    color: #fff;
}

.margintop15{
	margin-top:15px;
}

.span12{
    border:solid 1px #005A9C;
   
}

.margintop5{
	    margin-top: 5px;
}



